.articles-category-counter{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 25px;
    width: 25px;
}

.article-category-menu{
    cursor: pointer;
}

.article-category-menu:hover{
    background-color: rgb(241, 241, 241);
}


.knowledge-base-main-container .bi{
    text-shadow: 0 0 .8px currentColor;
}

.kb-action-btn {
    cursor: pointer;
}

.knowledge-base:hover{
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px !important;
}


