*{
  box-sizing: border-box;
}

body{
  min-height: 100vh; 
  /* font-family: 'Inter', sans-serif; */
  /* font-family: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";  */
}

:root{
  --lg-text: 18px;
  --md-text: 16px;
  --sm-text: 14px;
  --xs-text: 12px;
}

.lg-text{
  font-size: var(--lg-text);
}
.md-text{
  font-size: var(--md-text);
}
.sm-text{
  font-size: var(--sm-text);
}
.xs-text{
  font-size: var(--xs-text);
}


.lg-text-weight{
  font-weight: bold;
}

.f-size-14{
    font-size: 14px;
}
.f-size-12{
    font-size: 12px;
}
.f-size-16{
    font-size: 16px;
}
.f-size-18{
    font-size: 18px;
}
.f-size-20{
    font-size: 20px;
}
.f-size-22{
    font-size: 22px;
}
.f-size-24{
    font-size: 24px;
}
.f-size-26{
    font-size: 26px;
}

.icon-bold{
  text-shadow: 0 0 .8px currentColor;
}

.btn {
  font-size: 14px !important; 
}

.bg-violet-subtle {
  background-color: #eee6ff; 
}

.text-violet {
  color: #7f00ff; 
}