.f-size-14{
    font-size: 14px;
}

.f-size-12{
    font-size: 12px;
}

.f-size-16{
    font-size: 18px;
}

.reports-icon-container{
    height: 48px;
    width: 48px;
}

.reports-card-icon{
    font-size: 24px;
}

.reports-card-icon, .team-overview-icon{
    text-shadow: 0 0 .8px currentColor;
}

.team-overview-icon{
    font-size: 20px;
}

.ticket-status-progress{
    height: 9px;
}